@use "../abstracts/variables" as *;

.section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -1px;

  &__container {
    width: 100%;

    @media (min-width: $bp-tablet) {
      min-width: 0;
    }
  }

  &__element-group {
    display: flex;
    flex-direction: column;
    gap: $spacer-xs;

    .btn-wrapper:first-child {
      padding-left: 0;
    }
  }

  &__container--bleed {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100%;

    .section__container-inner {
      margin-left: auto !important;
      margin-right: auto !important;
      max-width: $container-xxl !important;
    }
  }

  &__container-inner {
    max-width: $content-width;
    width: 100%;
    margin: 0 auto;
    flex-direction: row !important;
    gap: $spacer-md;

    @media (max-width: $bp-mobile) {
      flex-direction: column !important;
    }
  }

  &__container-inner--direction-row {
    flex-direction: column !important;

    @media (max-width: $bp-desktop) {
      flex-direction: row !important;
    }
  }

  &__container-inner--direction-column {
    flex-direction: column !important;
  }

  &__container-inner--justify-center {
    justify-content: center !important;
  }

  &__container-inner--justify-start {
    justify-content: flex-start !important;
  }

  &__container-inner--justify-end {
    justify-content: flex-end !important;
  }

  &__container-inner--justify-center {
    justify-content: center !important;
  }

  &__container-inner--justify-between {
    justify-content: space-between !important;
  }

  &__container-inner--justify-around {
    justify-content: space-around !important;
  }
}
